
#tutorials {
    
    text-align: center;
    padding-top: 15px;
  }

  #tutorials .row {
    
    text-align: center;
    height: 370px;
    width: 97%;
    margin: 0 auto;
    padding-top: 35px;
  }
  #tutorials .row .col-5 {
    background-color: rgb(9, 177, 237);
    width: 19%;
    float: left;
    margin-right: 1%;
    padding: 43px;
    text-align: center;
    border: 6px solid rgba(12, 12, 12, 0.855);
    border-radius: 20px;
    box-shadow: 0px 5px 5px rgba(26, 26, 26, 0.855);
  }
  #tutorials .row .col-5 img {
    width: 100%;
    border: 6px solid rgba(12, 12, 12, 0.855) ;
    border-radius: 10px;
    box-shadow: 0px 5px 5px rgba(26, 26, 26, 0.855);
  }
  #tutorials .row .col-5 .tut-title {
    font-size: 30px;
    font-weight: bold;
  }
  #tutorials .row .col-5 .tut-footer {
    font-size: 16px;
    padding-top: 10px;
  }