#p {
  border:5px solid black;
  }
#k{
border:2px solid black;
text-align: left;
}
#a{
height: 25px;
width: 900px;
}



/* reset */
* {
    margin: 0;
    padding: 0;
  }

  #wrapper {
      border:5px solid black;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  label {
    cursor: pointer;
  }
  label:focus {
    outline: none;
  }

  .menu {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    width: 240px;
    height: 100%;
    transform: translate3d(-240px, 0, 0);
    transition: transform 0.35s;
  }
  .menu label.menu-toggle {
    position: absolute;
    right: -60px;
    width: 60px;
    height: 60px;
    line-height: 0px;
    display: block;
    padding: 0;
    text-indent: -9999px;
    background: #fff url(https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-512.png) 50% 50%/25px 25px no-repeat;
  }
  .menu ul li > label {
    background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-arrow-right-b-128.png) 95% 50%/16px 16px no-repeat;
  }
  .menu ul li a, .menu ul li label {
    display: block;
    text-align: center;
    padding: 0 20px;
    line-height: 60px;
    text-decoration: none;
    color: #000;
  }
  .menu ul li a:hover, .menu ul li label:hover {
    color: #666;
  }

  /* hide inputs */          
  .menu-checkbox {
    display: none;
  }

  /* hide navigation icon for sublabels */    
  .menu .menu label.menu-toggle {
    background: none;
  }

  /* fade in checked menu */    
  .menu-checkbox:checked + .menu {
    transform: translate3d(0, 0, 0);
  }

  /* for show */
  html, body {
    height: 100%;
  }

  

  p {
    margin-bottom: 15px;
  }

  #info {
    display: table;
    background: rgba(0, 0, 0, 0.4);
    height: 100%;
    width: 100%;
  }
  #info #info-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
  }
  #info #info-content h1 {
    color: #fff;
    border: 3px solid #fff;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: normal;
    padding: 20px;
    margin: 10px;
    display: inline-block;
  }
  #info #info-content h1 strong {
    display: block;
    font-size: 26px;
  }
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}